/* fonts */ 

@font-face {
    font-family: 'fjalla_oneregular';
    src: url('fonts/fjalla-one-v8-latin-regular-webfont.woff2') format('woff2'),
         url('fonts/fjalla-one-v8-latin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('fonts/pt-sans-narrow-v12-latin-regular-webfont.woff2') format('woff2'),
         url('fonts/pt-sans-narrow-v12-latin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav
{
  background-color: black;
}

p
{
  font-size: 30px;
}