/* fonts */ 

@font-face {
    font-family: 'fjalla_oneregular';
    src: url('fonts/fjalla-one-v8-latin-regular-webfont.woff2') format('woff2'),
         url('fonts/fjalla-one-v8-latin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('fonts/pt-sans-narrow-v12-latin-regular-webfont.woff2') format('woff2'),
         url('fonts/pt-sans-narrow-v12-latin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav
{
  background-color: black;
  border-size: 5px;
  text-align: right;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

p
{
  font-size: 40px;
  margin: 0px;
  display: inline;
}

.navt
{
  margin-right: 15px;
}

body
{
  margin: 0px;
  height: 100%;
}

a:link, a:visited
{
  text-decoration: none;
  color: #FFFFFF;
  font-family: pt_sans_narrowregular;
}

.navt:hover
{
  text-decoration: underline;
  text-decoration-color: #FFFFFF;
}

#title11:hover
{
  font-weight: bold;
}

#title11
{
  color: #FFFFFF;
  font-family: pt_sans_narrowregular;
  margin-right: 1500px;
}

#imaget
{
  float: left;
  margin: 0px;
  margin-left: 30px;
  border-radius: 15px;
  margin-top: 3.3px;
}

.top
{
  background-image: url("./pictures/fond.png");
  height: 50%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 80px;
}

#h11
{
  justify-content: center;
  font-family: "fjalla_oneregular";
  font-size: 80px;
  color: #FFFFFF;
  margin: 0;
  text-shadow: #4f4f4f 1px 4px 6px;
}

#h22
{
  justify-content: center;
  font-family: "fjalla_oneregular";
  font-size: 30px;
  color: #FFFFFF;
  margin: 0;
  text-shadow: #4f4f4f 0.1em 0.1em 0.2em;
}

html
{
  height: 100%;
}
